body, html 
{ 	
	height: 100%;
	background-repeat: no-repeat;
	background-image: url("img/prica1.png");
	background-size: 100% 100%;
	overflow: hidden;
}

h1
{
	text-align: center;
	font-size: 72px;
	font-family: monospace;
}

.button {
	display: block;
	text-decoration: none;
	text-align: center;
	width: 350px;
	margin-top: 450px;
	margin-left: 1070px;
	height: 75px;
	border: 2px solid black;
	color: black;
	font-size: 64px;
	font-weight: bold;
	font-family: monospace;
	background-color: red;
	border-radius: 4px;	
	cursor: pointer;
	transition: background-color ease 400ms;
}

.button:hover 
{
	color: black;
	background-color: #8B0000;
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}